

body {
  overflow-x: hidden;
  margin: 0;
  text-align: center;
}

button {
  border-radius: 20px;
  display: inline-block;
  background-color: #182263;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.container {
  display: inline-block;
  margin-left: 100px;
  word-wrap: break-word;
  padding: 10vh;
}

.dark {
  background-color: #191818;
  color: #fafafa;
  --link: #81c663;
}

.dark #logo {
  filter: invert(1) hue-rotate(180deg);
}

#theme {
   position:absolute;
   top:0;
   right:0;
   background: none;
   font-weight: bold;
}

#logo {
  position:absolute;
  top:0;
  left:0;
  padding: 2vh;
  width: 100px;
  height: 100px;
}

.light {
  background-color: #fff;
  color: #000;
  --link: #0d0a68;
}

.showLight {
  color : #000;
}

.galery {
  display: inline-block;
}
.image {
  width: 600px;
  height: 300px;
  border: none;
  border-radius: 20px;
}

#otherBtn {
    border-radius: 20px;
    background-color: #dd4517;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

a {
  text-decoration: none;
}